.form-help {
  margin-top: .4em;
}

.tab-pane {
  padding: 1em 0;
}

.wrapper {
  margin-top: 60px;
}

.navbar-toggle {
  border-width: 0;
}

.pagination {
  margin: 0;
}

.signin {
  background-color: #eee;
  padding-bottom: 40px;
  padding-top: 40px;
}

.form-signin {
  margin: 0 auto;
  max-width: 330px;
  padding: 15px;

  .form-signin-heading {
    margin-bottom: 10px;
  }

  .checkbox {
    font-weight: normal;
    margin-bottom: 10px;
  }

  .form-control {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    height: auto;
    padding: 10px;
    position: relative;

    &:focus {
      z-index: 2;
    }
  }

  input[type="text"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
  }

  input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 10px;
  }
}
