.form-help {
  margin-top: .4em;
}

.tab-pane {
  padding: 1em 0;
}

.wrapper {
  margin-top: 60px;
}

.navbar-toggle {
  border-width: 0;
}

.pagination {
  margin: 0;
}

.signin {
//  background-color: #eee;
  padding-bottom: 40px;
  padding-top: 40px;
}

@media (min-width: 1200px) {
  .signin {
    //  background-color: #eee;
    padding-bottom: 40px;
    padding-top: 40px;
    width: 100% !important;
    display: table-cell;
    vertical-align: middle;
  }
}

.form-signin {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 6px;
  margin: auto;

  padding: 40px;
//  margin-left: auto;
//  margin-right: auto;

  .form-signin-heading {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .checkbox {
    font-weight: normal;
    margin-bottom: 10px;
  }

  .form-control {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    height: auto;
    padding: 10px;
    position: relative;

    &:focus {
      z-index: 2;
    }
  }

  button {
    margin-top: 10px;
    background-color: #303030;
    border-color: #111;
  }
}

@media (min-width: 1200px) {
  .form-signin {
    max-width: 360px;
  }
}

html {
  height: 100%
}
