<?php

$db_conf = new stdClass;
$db_conf->host  ="localhost";
$db_conf->db = "racktemp";
$db_conf->user = "racktemp";
$db_conf->pass = "password";

defined("LIB_PATH") or define("LIB_PATH",realpath(dirname(__FILE__)));
defined("TEMPLATES_PATH") or define("TEMPLATES_PATH",realpath(dirname(__FILE__)).'/templates');
defined("CLASS_PATH") or define("CLASS_PATH",realpath(dirname(__FILE__)).'/classes');

?>
