{% set copyname = '2013 - 2015 Snilus' %}

{% if app.request.attributes.get('_route') == 'login' %}
<footer><div style="margin-top: 10px; color: #000000;">RackTemp &copy; {{ copyname }}</div></footer>
{% else %}
  <hr>
<footer>
  <div class="row">
    <div class="col-md-4">
      <p>RackTemp | <a href="https://github.com/victorhaggqvist/racktemp" class="text-muted">Source</a></p>
    </div>
    <div class="col-md-4"><p>Copyright &copy; {{ copyname }}</p></div>
    <div class="col-md-4"><p>Licensed under GPLv3</p></div>
  </div>
</footer>
{% endif %}


